@using System.Reflection
@typeparam TItem

@inject HttpClient http
@inject IUriHelper uriHelper

<table class="table table-sm table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            @HeaderTemplate
            @if (IsEdit) {
                <th scope="col">Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Items.Count; i++) {
            var item = Items[i];
            <tr>
                @if (IsEdit) {
                    @RowEditTemplate(item)
                    <td>
                        <button onclick="@(_ => OnSave(i, item))" class="btn btn-primary">
                            <i class="fa fa-save"></i>
                        </button>
                        <button onclick="@(_ => OnDelete(i, item))" class="btn btn-danger">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                } else {
                    @RowViewTemplate(item)
                }
            </tr>
        }
    </tbody>
    @if (IsEdit) {
        <tfoot>
            <tr>
                @RowEditTemplate(NewItem)
                <td>
                    <button onclick="@(_ => OnAdd(NewItem))" class="btn btn-success">
                        <i class="fa fa-plus"></i>
                    </button>
                </td>
            </tr>
        </tfoot>
    }
</table>

@functions {

    //Data
    [Parameter]
    private IList<TItem> Items { get; set; }

    //Templates
    [Parameter]
    private RenderFragment HeaderTemplate { get; set; }

    [Parameter]
    private RenderFragment<TItem> RowViewTemplate { get; set; }

    [Parameter]
    private RenderFragment<TItem> RowEditTemplate { get; set; }

    [Parameter]
    private bool IsEdit { get; set; }

    [Parameter]
    private Func<TItem> NewItemFactory { get; set; }

    //Events
    [Parameter]
    private Action<ItemChangedArgs<TItem>> Changed { get;set; }

    private TItem NewItem { get; set; }

    private void OnSave(int idx, TItem item) {
        var args = new ItemChangedArgs<TItem>() {
            Type = ItemChangedType.Changed,
            Item = item,
            Index = idx
        };
        Changed?.Invoke(args);
    }

    private void OnDelete(int idx, TItem item) {
        var args = new ItemChangedArgs<TItem>() {
            Type = ItemChangedType.Deleted,
            Item = item,
            Index = idx
        };
        Changed?.Invoke(args);
    }

    private void OnAdd(TItem item) {
        var args = new ItemChangedArgs<TItem>() {
            Type = ItemChangedType.Added,
            Item = item
        };
        Changed?.Invoke(args);
    }

    protected override void OnInit() {
        if (NewItemFactory != null) {
            NewItem = NewItemFactory();
        }
    }

}