<EditableString ref="Editable" Value="@Description" ValueChanged="@OnValueChanged">
    <ViewTemplate>
        <span onclick="@OnClick" class="text-muted">@context</span>
    </ViewTemplate>
    <EditTemplate>
        <input ref="InputElement" bind="@context.CurrentValue" onkeyup="@OnKeyUp" class="form-control"/>
    </EditTemplate>
</EditableString>

@functions {

    //Refs
    private EditableString Editable;
    private ElementRef InputElement;

    //Parameters
    [Parameter]
    private string Description { get; set; }

    [Parameter]
    private Action<string> DescriptionChanged { get; set; }

    // Actions
    private void OnValueChanged(string newValue) {
        Description = newValue;
        DescriptionChanged?.Invoke(newValue);
    }

    private async Task OnClick() {
        if (await Editable.Edit())
            await InputElement.Focus();
    }

    private async Task OnKeyUp(UIKeyboardEventArgs args) {
        if (args.Code == "Enter")
            await Editable.Save();
        else if (args.Code == "Escape")
            await Editable.Cancel();
    }

}