@page "/admin/food"
@inject HttpClient Http

<h1>Test page</h1>

@if (pets == null) {
    @:Loading food...
} else {
    <DetailTable Items="@pets" OnSave="OnSave" OnDelete="OnDelete" OnAdd="OnAdd">
        <HeaderTemplate>
            <th scope="col">Name</th>
            <th scope="col">Plural name</th>
            <th scope="col">Description</th>
        </HeaderTemplate>
        <RowTemplate Context="context">
            <td><input bind="@context.Name" value="@context.Name" class="form-control" /></td>
            <td><input bind="@context.NamePlural" value="@context.NamePlural" class="form-control" /></td>
            <td><input bind="@context.Description" value="@context.Description" class="form-control" /></td>
        </RowTemplate>
    </DetailTable>
}

@functions {

    List<FoodDto> pets = null;

    protected override async Task OnInitAsync() {
        pets = await Http.GetJsonAsync<List<FoodDto>>("api/food");
    }

    async void OnAdd(FoodDto food) {
        await Http.PostJsonAsync("api/food", food);
        pets.Add(food);
        StateHasChanged();
    }

    async void OnSave(FoodDto food) {
        await Http.PutJsonAsync("api/food/" + food.Id, food);
    }

    async void OnDelete(FoodDto food) {
        await Http.DeleteAsync("api/food/" + food.Id);
        pets.Remove(food);
        StateHasChanged();
    }

}